.navbar {
    background-color: #9187ff;
    grid-area: Navbar;
}

.item {
    color: #e9eeff;
    margin-bottom: 20px;
}

.item a {
    text-decoration: none;
    color: seashell;
}

.item .active {
    color: gold;
}
